<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\static.css">
</head>
<body>
    <form method="POST" action="/analyze" enctype="multipart/form-data">
        <h1>Text Summerization</h1> <br>
        <p>Enter the text for getting the Summary</p><br><br>
        <textarea name="text" class="text" cols="30" rows="10" placeholder="Enter your text here"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>